.scrollable {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
}
@font-face {
  font-family: 'Diktator';
  src: url('weissenseediktatorsemibold-webfont.woff2') format('woff2'), url('weissenseediktatorsemibold-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
* {
  box-sizing: border-box;
  -webkit-user-select: none;
          user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
body {
  font-family: 'Diktator';
  font-size: 17px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  overflow: hidden;
  height: 100vh;
}
a {
  color: inherit;
  border: 0;
  text-decoration: none;
}
html {
  overflow: hidden;
}
h1,
h2,
h3,
h4 {
  font-weight: 400;
  margin: 0;
}
h1 {
  font-size: 2em;
  text-indent: -0.05em;
}
h2 {
  font-size: 0.8em;
}
.whiteOnAubergine {
  background: #7f545c;
  color: #ffffff;
}
.fullscreenPage {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.page0 .fullscreenPage {
  -webkit-transform: translateY(0vh);
          transform: translateY(0vh);
}
.page1 .fullscreenPage {
  -webkit-transform: translateY(-100vh);
          transform: translateY(-100vh);
}
.cover {
  background: #7f545c;
  color: #ffffff;
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
.cover h1,
.cover h2 {
  position: absolute;
  width: 340px;
  left: 36px;
}
.cover h1 {
  top: 648px;
}
.cover h2 {
  top: 682px;
}
.menu {
  top: 0;
  background: #7f545c;
  color: #ffffff;
  z-index: 10;
  position: absolute;
  height: 100vh;
  overflow: hidden;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition-timing-function: ease-in-out;
  box-shadow: 2px 0px 4px 0px rgba(50, 50, 50, 0.25);
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-perspective: 900000px;
          perspective: 900000px;
}
.menu.collapsed {
  width: 408px;
  -webkit-transform: translate3d(-340px, 0, 0);
          transform: translate3d(-340px, 0, 0);
}
.menu.collapsed ul li a,
.menu.collapsed .appTitle {
  display: none;
}
.menu.collapsed ul .active {
  display: block;
  font-size: 2em;
  position: absolute;
  bottom: 0px;
  left: 353px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: 10 10;
          transform-origin: 10 10;
  width: 15em;
}
.menu.expanded {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  width: 408px;
}
.menu.expanded .currentTitle,
.menu.expanded .menuIcon {
  display: none;
}
.menu li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li a {
  font-size: 1.4em;
}
.menu ul {
  margin: 36px;
  margin-top: 138px;
  padding: 0;
  width: 12em;
}
.menu .appTitle {
  position: absolute;
  left: 36px;
  top: 36px;
  width: 10em;
}
.menu .menuIcon {
  margin: 17px;
  position: absolute;
  left: 340px;
}
.menu .menuIcon .icon {
  font-size: 3em;
  line-height: 0.8;
}
.menu .menuIcon .icon,
.menu .menuIcon .icon:before,
.menu .menuIcon .icon:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: white;
  position: absolute;
  display: block;
  content: '';
  top: 10px;
}
.menu .menuIcon .icon:before {
  top: -10px;
}
.menu .menuIcon .icon:after {
  bottom: -10px;
}
.menu .menuIcon .icon,
.menu .menuIcon .text {
  position: relative;
}
.menu .menuIcon .text {
  top: 25px;
  font-size: 1em;
}
.text {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  left: 240px;
  width: 136px;
  top: 104px;
  margin: 0em;
  height: 900px;
}
.cardView {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  margin-left: 68px;
  top: 0;
  height: 100vh;
  background: #e3d5d8;
}
.cardView .cardItem {
  position: absolute;
  width: 956px;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  box-shadow: 0px 0px 10px 0px rgba(50, 50, 50, 0.6);
  height: 8vh;
}
.cardView .cardItem.focus {
  height: 60vh;
}
.cardView .cardItem img {
  width: 650px;
}
.cardView .cardItem .cardText {
  margin-top: 1em;
}
.cardView .cardItem .block {
  top: 0;
  padding: 17px;
  right: 0;
  height: 60vh;
  width: 306px;
  position: absolute;
  background: #e3d5d8;
}
.cardView .cardItem .author {
  display: inline;
}
.cardView .cardViewWrapper {
  position: relative;
  overflow: hidden;
}
.cardView.transitioning .cardViewWrapper {
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}
/* Define two variables as the loop limits */
/* Create a Parametric mixin and add a guard operation */
/* the mixin is called, css outputted and iterations called */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(0) {
  -webkit-transform: translate3d(0, -22vh, 0);
          transform: translate3d(0, -22vh, 0);
}
.cardItem.beforeFocus:nth-child(0) {
  -webkit-transform: translate3d(0, -22vh, 0);
          transform: translate3d(0, -22vh, 0);
}
.cardItem.focus:nth-child(0) {
  -webkit-transform: translate3d(0, -22vh, 0);
          transform: translate3d(0, -22vh, 0);
}
.cardItem.afterFocus:nth-child(0) {
  -webkit-transform: translate3d(0, 16vh, 0);
          transform: translate3d(0, 16vh, 0);
}
.cardViewWrapper.childnum0 {
  height: 0vh;
}
.focus .cardViewWrapper.childnum0 {
  height: 38vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(1) {
  -webkit-transform: translate3d(0, 0vh, 0);
          transform: translate3d(0, 0vh, 0);
}
.cardItem.beforeFocus:nth-child(1) {
  -webkit-transform: translate3d(0, 0vh, 0);
          transform: translate3d(0, 0vh, 0);
}
.cardItem.focus:nth-child(1) {
  -webkit-transform: translate3d(0, 0vh, 0);
          transform: translate3d(0, 0vh, 0);
}
.cardItem.afterFocus:nth-child(1) {
  -webkit-transform: translate3d(0, 38vh, 0);
          transform: translate3d(0, 38vh, 0);
}
.cardViewWrapper.childnum1 {
  height: 22vh;
}
.focus .cardViewWrapper.childnum1 {
  height: 60vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(2) {
  -webkit-transform: translate3d(0, 22vh, 0);
          transform: translate3d(0, 22vh, 0);
}
.cardItem.beforeFocus:nth-child(2) {
  -webkit-transform: translate3d(0, 22vh, 0);
          transform: translate3d(0, 22vh, 0);
}
.cardItem.focus:nth-child(2) {
  -webkit-transform: translate3d(0, 22vh, 0);
          transform: translate3d(0, 22vh, 0);
}
.cardItem.afterFocus:nth-child(2) {
  -webkit-transform: translate3d(0, 60vh, 0);
          transform: translate3d(0, 60vh, 0);
}
.cardViewWrapper.childnum2 {
  height: 44vh;
}
.focus .cardViewWrapper.childnum2 {
  height: 82vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(3) {
  -webkit-transform: translate3d(0, 44vh, 0);
          transform: translate3d(0, 44vh, 0);
}
.cardItem.beforeFocus:nth-child(3) {
  -webkit-transform: translate3d(0, 44vh, 0);
          transform: translate3d(0, 44vh, 0);
}
.cardItem.focus:nth-child(3) {
  -webkit-transform: translate3d(0, 44vh, 0);
          transform: translate3d(0, 44vh, 0);
}
.cardItem.afterFocus:nth-child(3) {
  -webkit-transform: translate3d(0, 82vh, 0);
          transform: translate3d(0, 82vh, 0);
}
.cardViewWrapper.childnum3 {
  height: 66vh;
}
.focus .cardViewWrapper.childnum3 {
  height: 104vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(4) {
  -webkit-transform: translate3d(0, 66vh, 0);
          transform: translate3d(0, 66vh, 0);
}
.cardItem.beforeFocus:nth-child(4) {
  -webkit-transform: translate3d(0, 66vh, 0);
          transform: translate3d(0, 66vh, 0);
}
.cardItem.focus:nth-child(4) {
  -webkit-transform: translate3d(0, 66vh, 0);
          transform: translate3d(0, 66vh, 0);
}
.cardItem.afterFocus:nth-child(4) {
  -webkit-transform: translate3d(0, 104vh, 0);
          transform: translate3d(0, 104vh, 0);
}
.cardViewWrapper.childnum4 {
  height: 88vh;
}
.focus .cardViewWrapper.childnum4 {
  height: 126vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(5) {
  -webkit-transform: translate3d(0, 88vh, 0);
          transform: translate3d(0, 88vh, 0);
}
.cardItem.beforeFocus:nth-child(5) {
  -webkit-transform: translate3d(0, 88vh, 0);
          transform: translate3d(0, 88vh, 0);
}
.cardItem.focus:nth-child(5) {
  -webkit-transform: translate3d(0, 88vh, 0);
          transform: translate3d(0, 88vh, 0);
}
.cardItem.afterFocus:nth-child(5) {
  -webkit-transform: translate3d(0, 126vh, 0);
          transform: translate3d(0, 126vh, 0);
}
.cardViewWrapper.childnum5 {
  height: 110vh;
}
.focus .cardViewWrapper.childnum5 {
  height: 148vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(6) {
  -webkit-transform: translate3d(0, 110vh, 0);
          transform: translate3d(0, 110vh, 0);
}
.cardItem.beforeFocus:nth-child(6) {
  -webkit-transform: translate3d(0, 110vh, 0);
          transform: translate3d(0, 110vh, 0);
}
.cardItem.focus:nth-child(6) {
  -webkit-transform: translate3d(0, 110vh, 0);
          transform: translate3d(0, 110vh, 0);
}
.cardItem.afterFocus:nth-child(6) {
  -webkit-transform: translate3d(0, 148vh, 0);
          transform: translate3d(0, 148vh, 0);
}
.cardViewWrapper.childnum6 {
  height: 132vh;
}
.focus .cardViewWrapper.childnum6 {
  height: 170vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(7) {
  -webkit-transform: translate3d(0, 132vh, 0);
          transform: translate3d(0, 132vh, 0);
}
.cardItem.beforeFocus:nth-child(7) {
  -webkit-transform: translate3d(0, 132vh, 0);
          transform: translate3d(0, 132vh, 0);
}
.cardItem.focus:nth-child(7) {
  -webkit-transform: translate3d(0, 132vh, 0);
          transform: translate3d(0, 132vh, 0);
}
.cardItem.afterFocus:nth-child(7) {
  -webkit-transform: translate3d(0, 170vh, 0);
          transform: translate3d(0, 170vh, 0);
}
.cardViewWrapper.childnum7 {
  height: 154vh;
}
.focus .cardViewWrapper.childnum7 {
  height: 192vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(8) {
  -webkit-transform: translate3d(0, 154vh, 0);
          transform: translate3d(0, 154vh, 0);
}
.cardItem.beforeFocus:nth-child(8) {
  -webkit-transform: translate3d(0, 154vh, 0);
          transform: translate3d(0, 154vh, 0);
}
.cardItem.focus:nth-child(8) {
  -webkit-transform: translate3d(0, 154vh, 0);
          transform: translate3d(0, 154vh, 0);
}
.cardItem.afterFocus:nth-child(8) {
  -webkit-transform: translate3d(0, 192vh, 0);
          transform: translate3d(0, 192vh, 0);
}
.cardViewWrapper.childnum8 {
  height: 176vh;
}
.focus .cardViewWrapper.childnum8 {
  height: 214vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(9) {
  -webkit-transform: translate3d(0, 176vh, 0);
          transform: translate3d(0, 176vh, 0);
}
.cardItem.beforeFocus:nth-child(9) {
  -webkit-transform: translate3d(0, 176vh, 0);
          transform: translate3d(0, 176vh, 0);
}
.cardItem.focus:nth-child(9) {
  -webkit-transform: translate3d(0, 176vh, 0);
          transform: translate3d(0, 176vh, 0);
}
.cardItem.afterFocus:nth-child(9) {
  -webkit-transform: translate3d(0, 214vh, 0);
          transform: translate3d(0, 214vh, 0);
}
.cardViewWrapper.childnum9 {
  height: 198vh;
}
.focus .cardViewWrapper.childnum9 {
  height: 236vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(10) {
  -webkit-transform: translate3d(0, 198vh, 0);
          transform: translate3d(0, 198vh, 0);
}
.cardItem.beforeFocus:nth-child(10) {
  -webkit-transform: translate3d(0, 198vh, 0);
          transform: translate3d(0, 198vh, 0);
}
.cardItem.focus:nth-child(10) {
  -webkit-transform: translate3d(0, 198vh, 0);
          transform: translate3d(0, 198vh, 0);
}
.cardItem.afterFocus:nth-child(10) {
  -webkit-transform: translate3d(0, 236vh, 0);
          transform: translate3d(0, 236vh, 0);
}
.cardViewWrapper.childnum10 {
  height: 220vh;
}
.focus .cardViewWrapper.childnum10 {
  height: 258vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(11) {
  -webkit-transform: translate3d(0, 220vh, 0);
          transform: translate3d(0, 220vh, 0);
}
.cardItem.beforeFocus:nth-child(11) {
  -webkit-transform: translate3d(0, 220vh, 0);
          transform: translate3d(0, 220vh, 0);
}
.cardItem.focus:nth-child(11) {
  -webkit-transform: translate3d(0, 220vh, 0);
          transform: translate3d(0, 220vh, 0);
}
.cardItem.afterFocus:nth-child(11) {
  -webkit-transform: translate3d(0, 258vh, 0);
          transform: translate3d(0, 258vh, 0);
}
.cardViewWrapper.childnum11 {
  height: 242vh;
}
.focus .cardViewWrapper.childnum11 {
  height: 280vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(12) {
  -webkit-transform: translate3d(0, 242vh, 0);
          transform: translate3d(0, 242vh, 0);
}
.cardItem.beforeFocus:nth-child(12) {
  -webkit-transform: translate3d(0, 242vh, 0);
          transform: translate3d(0, 242vh, 0);
}
.cardItem.focus:nth-child(12) {
  -webkit-transform: translate3d(0, 242vh, 0);
          transform: translate3d(0, 242vh, 0);
}
.cardItem.afterFocus:nth-child(12) {
  -webkit-transform: translate3d(0, 280vh, 0);
          transform: translate3d(0, 280vh, 0);
}
.cardViewWrapper.childnum12 {
  height: 264vh;
}
.focus .cardViewWrapper.childnum12 {
  height: 302vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(13) {
  -webkit-transform: translate3d(0, 264vh, 0);
          transform: translate3d(0, 264vh, 0);
}
.cardItem.beforeFocus:nth-child(13) {
  -webkit-transform: translate3d(0, 264vh, 0);
          transform: translate3d(0, 264vh, 0);
}
.cardItem.focus:nth-child(13) {
  -webkit-transform: translate3d(0, 264vh, 0);
          transform: translate3d(0, 264vh, 0);
}
.cardItem.afterFocus:nth-child(13) {
  -webkit-transform: translate3d(0, 302vh, 0);
          transform: translate3d(0, 302vh, 0);
}
.cardViewWrapper.childnum13 {
  height: 286vh;
}
.focus .cardViewWrapper.childnum13 {
  height: 324vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(14) {
  -webkit-transform: translate3d(0, 286vh, 0);
          transform: translate3d(0, 286vh, 0);
}
.cardItem.beforeFocus:nth-child(14) {
  -webkit-transform: translate3d(0, 286vh, 0);
          transform: translate3d(0, 286vh, 0);
}
.cardItem.focus:nth-child(14) {
  -webkit-transform: translate3d(0, 286vh, 0);
          transform: translate3d(0, 286vh, 0);
}
.cardItem.afterFocus:nth-child(14) {
  -webkit-transform: translate3d(0, 324vh, 0);
          transform: translate3d(0, 324vh, 0);
}
.cardViewWrapper.childnum14 {
  height: 308vh;
}
.focus .cardViewWrapper.childnum14 {
  height: 346vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(15) {
  -webkit-transform: translate3d(0, 308vh, 0);
          transform: translate3d(0, 308vh, 0);
}
.cardItem.beforeFocus:nth-child(15) {
  -webkit-transform: translate3d(0, 308vh, 0);
          transform: translate3d(0, 308vh, 0);
}
.cardItem.focus:nth-child(15) {
  -webkit-transform: translate3d(0, 308vh, 0);
          transform: translate3d(0, 308vh, 0);
}
.cardItem.afterFocus:nth-child(15) {
  -webkit-transform: translate3d(0, 346vh, 0);
          transform: translate3d(0, 346vh, 0);
}
.cardViewWrapper.childnum15 {
  height: 330vh;
}
.focus .cardViewWrapper.childnum15 {
  height: 368vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(16) {
  -webkit-transform: translate3d(0, 330vh, 0);
          transform: translate3d(0, 330vh, 0);
}
.cardItem.beforeFocus:nth-child(16) {
  -webkit-transform: translate3d(0, 330vh, 0);
          transform: translate3d(0, 330vh, 0);
}
.cardItem.focus:nth-child(16) {
  -webkit-transform: translate3d(0, 330vh, 0);
          transform: translate3d(0, 330vh, 0);
}
.cardItem.afterFocus:nth-child(16) {
  -webkit-transform: translate3d(0, 368vh, 0);
          transform: translate3d(0, 368vh, 0);
}
.cardViewWrapper.childnum16 {
  height: 352vh;
}
.focus .cardViewWrapper.childnum16 {
  height: 390vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(17) {
  -webkit-transform: translate3d(0, 352vh, 0);
          transform: translate3d(0, 352vh, 0);
}
.cardItem.beforeFocus:nth-child(17) {
  -webkit-transform: translate3d(0, 352vh, 0);
          transform: translate3d(0, 352vh, 0);
}
.cardItem.focus:nth-child(17) {
  -webkit-transform: translate3d(0, 352vh, 0);
          transform: translate3d(0, 352vh, 0);
}
.cardItem.afterFocus:nth-child(17) {
  -webkit-transform: translate3d(0, 390vh, 0);
          transform: translate3d(0, 390vh, 0);
}
.cardViewWrapper.childnum17 {
  height: 374vh;
}
.focus .cardViewWrapper.childnum17 {
  height: 412vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(18) {
  -webkit-transform: translate3d(0, 374vh, 0);
          transform: translate3d(0, 374vh, 0);
}
.cardItem.beforeFocus:nth-child(18) {
  -webkit-transform: translate3d(0, 374vh, 0);
          transform: translate3d(0, 374vh, 0);
}
.cardItem.focus:nth-child(18) {
  -webkit-transform: translate3d(0, 374vh, 0);
          transform: translate3d(0, 374vh, 0);
}
.cardItem.afterFocus:nth-child(18) {
  -webkit-transform: translate3d(0, 412vh, 0);
          transform: translate3d(0, 412vh, 0);
}
.cardViewWrapper.childnum18 {
  height: 396vh;
}
.focus .cardViewWrapper.childnum18 {
  height: 434vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(19) {
  -webkit-transform: translate3d(0, 396vh, 0);
          transform: translate3d(0, 396vh, 0);
}
.cardItem.beforeFocus:nth-child(19) {
  -webkit-transform: translate3d(0, 396vh, 0);
          transform: translate3d(0, 396vh, 0);
}
.cardItem.focus:nth-child(19) {
  -webkit-transform: translate3d(0, 396vh, 0);
          transform: translate3d(0, 396vh, 0);
}
.cardItem.afterFocus:nth-child(19) {
  -webkit-transform: translate3d(0, 434vh, 0);
          transform: translate3d(0, 434vh, 0);
}
.cardViewWrapper.childnum19 {
  height: 418vh;
}
.focus .cardViewWrapper.childnum19 {
  height: 456vh;
}
/* Interation call and operation */
/* As the mixin is called CSS is outputted */
.cardItem:nth-child(20) {
  -webkit-transform: translate3d(0, 418vh, 0);
          transform: translate3d(0, 418vh, 0);
}
.cardItem.beforeFocus:nth-child(20) {
  -webkit-transform: translate3d(0, 418vh, 0);
          transform: translate3d(0, 418vh, 0);
}
.cardItem.focus:nth-child(20) {
  -webkit-transform: translate3d(0, 418vh, 0);
          transform: translate3d(0, 418vh, 0);
}
.cardItem.afterFocus:nth-child(20) {
  -webkit-transform: translate3d(0, 456vh, 0);
          transform: translate3d(0, 456vh, 0);
}
.cardViewWrapper.childnum20 {
  height: 440vh;
}
.focus .cardViewWrapper.childnum20 {
  height: 478vh;
}
/* Interation call and operation */
.noTranslate {
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: -webkit-transform 2s ;
  transition: transform 2s ;
}
.horizontal-leave {
  display: block;
  position: absolute;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  transition: -webkit-transform 0.5s ;
  transition: transform 0.5s ;
}
.horizontal-leave-active {
  -webkit-transform: translate3d(0, -100vh, 0);
          transform: translate3d(0, -100vh, 0);
}
.horizontal-enter {
  display: block;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: translate3d(0, 100vh, 0);
          transform: translate3d(0, 100vh, 0);
}
.horizontal-enter-active {
  -webkit-transform: translate3d(0, 0vh, 0);
          transform: translate3d(0, 0vh, 0);
}
.preface {
  position: absolute;
  top: 138px;
  left: 478px;
  width: 408px;
}
